# directories
.snakemake/
tmp/
runs/
data/*

# files
internal_notes.md
*.html
*.png
*.csv 
*.Rdata
*.Rhistory
*.pyc

# exceptions
!config/example_sheet.csv
!workflow.png
!config/env.yaml
!data/reference/.gitkeep